* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-family: renogare, 'Segoe UI', Arial, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f2937 !important;
    color: #ffffff;
}

#footer {
    background-color: #1a1e21;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}